.bots {
    padding: 5%;
    background-image: url(../../Utilities/botsback.png);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.ourbots {
    font-size: 52px;
    font-weight: 400;
    line-height: 38.84px;
    padding-right: 21%;
    text-align: center;
    color: black;
    -webkit-text-stroke: 3px rgba(53, 216, 36, 1);
    margin-bottom: 20px;
    width: 100%;
    background: transparent;

}

.bot-card {
    box-sizing: border-box;
    text-align: center;
    background: transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
 
}

.bot-card img {
    width: 80%;
    object-fit: cover;
    margin-bottom: 10px;
    background: transparent;
}

.bot-card h3 {
    position: relative;
    top: -10%;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.13px;
    text-align: center;
    color: #fff;
    background: transparent;

}

.bot-card p {
    width: 50%;
    height: 30%;
    position: relative;
    left: 25%;
    top: -10%;
    font-family: 'Macondo';
    font-size: 16px;
    color: #aaa;
    font-weight: 400;
    line-height: 18.88px;
    text-align: center;
    background: transparent;

}

.bot-card button {
    position: relative;
    top: -10%;
    background-color: #35d824;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bot-card button:hover {
    background-color: #28a317;
}

.botcontrol {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;

}

.bot-card button:disabled {
    border: 3px solid #28a317;
    background-color: transparent;
    color: #fff;
    cursor: not-allowed;
}




@media (min-width: 1067px) and (max-width: 1820px) {
    .bot-card p {
        font-size: 16px;
        line-height: 30px;
    }

    .bot-card h3 {
        font-size: 20px;
    }

    .bot-card button {
        padding: 0%;
        width: 100px;
        height: 30px;
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .bot-card p {
        font-size: 12px;
        line-height: 15px;
        height: 50%;
    }

    .bot-card h3 {
        font-size: 15px;
    }

    .bot-card button {
        padding: 0%;
        width: 70px;
        height: 30px;
        font-size: 11px;
        text-align: center;
    }

    .bot-card h5 {
        font-size: 30px;
        background: transparent;
    }

    .ourbots {
        font-size: 35px;
        -webkit-text-stroke: 1px rgba(53, 216, 36, 1);

    }

}

@media (min-width: 481px) and (max-width: 768px) {

    .bot-card p {
        font-size: 15px;
        line-height: 21px;
        height: 40%;
    }

    .bot-card h3 {
        font-size: 17px;
    }

    .bot-card button {
        padding: 0%;
        width: 70px;
        height: 30px;
        font-size: 11px;
        text-align: center;
    }

    .bot-card h5 {
        font-size: 30px;
        background: transparent;
    }

}


@media (min-width: 769px) and (max-width: 1024px) {


    .bot-card p {
        font-size: 20px;
        line-height: 25px;
        height: 35%;
    }

    .bot-card h3 {
        font-size: 20px;
    }

    .bot-card button {
        padding: 0%;
        width: 120px;
        height: 40px;
        font-size: 20px;
        text-align: center;
    }

    .bot-card h5 {
        font-size: 30px;
        background: transparent;
    }

}

@media (min-width: 1024px) and (max-width: 1366px) {

    .bot-card p {
        font-size: 26px;
        line-height: 30px;
        height: 35%;
    }

    .bot-card h3 {
        font-size: 30px;
    }

    .bot-card button {
        padding: 0%;
        width: 150px;
        height: 50px;
        font-size: 20px;
        text-align: center;
    }

}

@media (min-width: 1367px) and (max-width: 1920px) {

    .bot-card p {
        font-size: 26px;
        line-height: 30px;
    }

    .bot-card h3 {
        font-size: 30px;
    }

    .bot-card button {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }

}

@media (min-width: 1921px) {

    .bot-card p {
        font-size: 36px;
        line-height: 40px;
    }

    .bot-card h3 {
        font-size: 45px;

    }

    .ourbots {
        -webkit-text-stroke: 3px rgba(53, 216, 36, 1);
        font-weight: 500;

    }

    .bot-card button {
        width: 180px;
        height: 100px;
        font-size: 30px;
        text-align: center;
    }
}